html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 25vw 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  background: white;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  grid-column: 1 / -1;
}

.aside {
  border-right: 1px solid grey;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main {
  background: white;
}
.Button {
  display: block; /* ensures predictable width behavior */
  margin: 8px auto; /* centers horizontally inside parent */
  padding: 6px 12px;
}
.ButtonGroup {
  padding: 6px 12px;
}

.ButtonGroupBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
